services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: arbeitszeit
      POSTGRES_USER: django
      POSTGRES_PASSWORD: einSicheresPasswort
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
