<div class="zeitzeile border rounded p-3 mb-2">
    <div class="mb-2">
        <label class="form-label">Datum</label>
        <input type="date" name="tages_datum" class="form-control">
    </div>
    <div class="row g-2">
        <div class="col-6">
            <label class="form-label">Kommen</label>
            <input type="time" name="kommen_zeit" class="form-control">
        </div>
        <div class="col-6">
            <label class="form-label">Gehen in die Pause</label>
            <input type="time" name="pause_gehen_zeit" class="form-control">
        </div>
        <div class="col-6">
            <label class="form-label">Kommen nach der Pause</label>
            <input type="time" name="pause_kommen_zeit" class="form-control">
        </div>
        <div class="col-6">
            <label class="form-label">Gehen</label>
            <input type="time" name="gehen_zeit" class="form-control">
        </div>
    </div>
</div>
